dl.DefList {
  font-size: .6rem;
  padding: 0.5em;
}

dl.DefList dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
}

dl.DefList dt::after {
  content: "";
}

dl.DefList dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}