.Button {
  text-align: center;
  display: block;
  padding: .8rem;
  width: 100%;
  border: none;
  margin: 0;

  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}

.Button:hover {
  background-color: rgb(25, 113, 201);
  cursor: pointer;
}

.Button:active {
  background-color: rgb(17, 78, 140);
  cursor: pointer;
}