.MediaForm {
  width: 320px;
  background: #ffffff;
  margin: 10px auto;
  text-align: left;
}

.MediaForm .FormWrapper input {
  padding: 10px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}

.MediaForm .FormWrapper label {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
}

.MediaForm .FormWrapper input[type="file"] {
  border: 1px dashed #e2e2e3;
}

.MediaForm .FileDetails {
  background-color: #e2e2e3;
  min-height: 40px;
  text-align: center;
}
